body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.loaderContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
}

.loader {
  position: relative;
}

.one {
  position: absolute;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: .0;
  animation: loading 1.3s .65s infinite;
  height: 20px;
  width: 20px;
}

.two {
  position: absolute;
  border-radius: 50%;
  background: #FF4081;
  opacity: .0;
  animation: loading 1.3s infinite;
  height: 20px;
  width: 20px;
}


@keyframes loading {
  0% {
    opacity: .0;
    transform: scale(.15);
    box-shadow: 0 0 2px rgba(black, .1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(black, .1);
  }
  100% {
    opacity: .0;
    transform: scale(.15);
    box-shadow: 0 0 2px rgba(black, .1);
  }
}

/* bg animation during login */

.bg { 
  background: linear-gradient(343deg, #3f51b5, #ffffff, #2196f3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 17%}
  50%{background-position:100% 84%}
  100%{background-position:0% 17%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 17%}
  50%{background-position:100% 84%}
  100%{background-position:0% 17%}
}
@keyframes AnimationName { 
  0%{background-position:0% 17%}
  50%{background-position:100% 84%}
  100%{background-position:0% 17%}
}

/* scrollbars */

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
::-webkit-scrollbar-thumb:active {
  background: #555555;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}